body {
    margin: 0;
    display: grid;
    justify-items: center;
    background-color: rgb(57, 71, 71);
}

.overlay {
    position: relative;
}

.photo > img {
    width: 750px;
}

.picture-frame {
    width: 750px;
    position:relative; 
    overflow:hidden;
    height: 40vh;
}

.wide-div {
    position: absolute;
    top: 0;
    left: 0;
    height: 40vh;
    background-color: blueviolet;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
}