body {
    margin: 0;
    display: grid;
    justify-items: center;
    background-color: rgb(57, 71, 71);
}

.nav-dots > .active {
    background: url(images/full-stop.png) no-repeat;
    background-position: center;
    background-size: 70px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    border: 3px white;
    border-radius: 50%;
    background-color: rgb(182, 170, 228);
}

.nav-dots > .active:hover {
    background-color: rgb(57, 71, 71);
}

.nav-dot {
    background: url(images/period.png) no-repeat;
    background-position: center;
    background-size: 70px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    border: 3px white;
    border-radius: 50%;
    background-color: rgb(182, 170, 228);
}

.nav-dot:hover {
    background-color: rgb(57, 71, 71);
}

.next {
    background: url(images/right-arrow.png) no-repeat;
    background-position: center;
    background-size:contain;
    height: 150px;
    width: 30px;
    cursor: pointer;
    background-color: rgb(182, 170, 228);
}

.next:hover {
    background-color: rgb(170, 179, 179);
}

.overlay {
    position: relative;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    justify-items: center;
    align-items: center;
    height: 100%;
}

.overlay > div {
    align-self: end;
}

.photo > img {
    width: 750px;
}

.picture-frame {
    width: 750px;
    position:relative; 
    overflow:hidden;
    height: 40vh;
}

.prev {
    background: url(images/left-arrow.png) no-repeat;
    background-position: center;
    background-size:contain;
    height: 150px;
    width: 30px;
    cursor: pointer;
    background-color: rgb(182, 170, 228);
}

.prev:hover {
    background-color: rgb(170, 179, 179);
}

.wide-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40vh;
    background-color: blueviolet;
    transition-duration: 1s;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
}